#main {
    background-color: beige;
    font-family: "Roboto", sans-serif;
  }
  #title {
    text-align: center;
    padding: 10px 0;
    font-size: 48px;
  }
  #paragraph-first-quote {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #img-div{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 5px solid beige;
    border-radius: 20px;
  }
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 20px; 
  }
  #img-caption {
    text-align: right;
    font-size: 13px;
    padding-right: 10px;
    margin-top: 0;
  }
  #img-caption > p {
    margin-top: 0;
  }
  #tribute-info{
    text-align: center;
    padding: 0 20px;
  }
  .two-lists {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
    border: 5px solid beige;
    border-radius: 20px;
  }
  .list-title{
    text-align: center;
    padding: 0 10px;
  }
  ol > li {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  a {
    color: #0000ff;
    text-decoration: none;
  }
  a:hover {
    color: #808080;
  }
  #quote {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    border: 5px solid beige;
  }
  